@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular', sans-serif !important;
}

@mixin engFont {
    font-family: "Montserrat", sans-serif !important;
}

@mixin lobster {
    font-family: 'Lobster', cursive !important;
}

$info_Color_01: #FF00B8;
$info_Color_02: #7264EF;
$info_Color_03: #00E91D;

$Neutrals_Color800: #000;
$Neutrals_Color700: #6D6D6D;
$Neutrals_Color600: #8E8E8E;
$Neutrals_Color500: #BEBEBE;
$Neutrals_Color400: #E7E7E7;
$Neutrals_Color300: #F5F5F5;
$Neutrals_Color200: #FAFAFA;
$Neutrals_Color100: #FFF;

@mixin HeadLine_01 {
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;

    @include tablet {
        font-size: 3.1250vw;
        line-height: 3.9063vw;
    }
    @include mobile {
        font-size: 7.8125vw;
        line-height: 10.4167vw;
    }
}

@mixin HeadLine_02 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;

    @include tablet {
        font-size: 2.7344vw;
        line-height: 3.5156vw;
    }
    @include mobile {
        font-size: 6.5104vw;
        line-height: 9.1146vw;
    }
}

@mixin HeadLine_03 {
    font-size: 35px;
    line-height: 65px;
    font-weight: bold;

    @include tablet {
        font-size: 2.3438vw;
        line-height: 3.1250vw;
    }
    @include mobile {
        font-size: 5.2083vw;
        line-height: 7.8125vw;
    }
}

@mixin HeadLine_04 {
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;

    @include tablet {
        font-size: 1.5625vw;
        line-height: 2.3438vw;
    }
    @include mobile {
        font-size: 4.5573vw;
        line-height: 7.1615vw;
    }
}

@mixin HeadLine_05 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;

    @include tablet {
        font-size: 1.4063vw;
        line-height: 2.1875vw;
    }
    @include mobile {
        font-size: 3.9063vw;
        line-height: 6.5104vw;
    }
}

@mixin MainTitle_01 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;

    @include tablet {
        font-size: 2.7344vw;
        line-height: 3.5156vw;
    }
    @include mobile {
        font-size: 6.5104vw;
        line-height: 9.1146vw;
    }
}

@mixin MainTitle_02 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;

    @include tablet {
        font-size: 2.3438vw;
        line-height: 3.1250vw;
    }
    @include mobile {
        font-size: 5.8594vw;
        line-height: 8.4635vw;
    }
}

@mixin MainTitle_03 {
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;

    @include tablet {
        font-size: 1.4063vw;
        line-height: 2.1875vw;
    }
    @include mobile {
        font-size: 5.2083vw;
        line-height: 7.8125vw;
    }
}

@mixin DefaultText_Single_600 {
    font-size: 24px;
    line-height: 34px;

    @include tablet {
        font-size: 1.5625vw;
        line-height: 2.3438vw;
    }
    @include mobile {
        font-size: 4.1667vw;
        line-height: 5.4688vw;
    }
}

@mixin DefaultText_Single_500 {
    font-size: 22px;
    line-height: 32px;

    @include tablet {
        font-size: 1.4063vw;
        line-height: 2.1875vw;
    }
    @include mobile {
        font-size: 3.9063vw;
        line-height: 5.2083vw;
    }
}

@mixin DefaultText_Single_400 {
    font-size: 20px;
    line-height: 30px;

    @include tablet {
        font-size: 1.2500vw;
        line-height: 2.0313vw;
    }
    @include mobile {
        font-size: 3.6458vw;
        line-height: 4.9479vw;
    }
}

@mixin DefaultText_Single_300 {
    font-size: 18px;
    line-height: 28px;

    @include tablet {
        font-size: 1.1719vw;
        line-height: 1.9531vw;
    }
    @include mobile {
        font-size: 3.3854vw;
        line-height: 4.6875vw;
    }
}

@mixin DefaultText_Single_200 {
    font-size: 16px;
    line-height: 26px;

    @include tablet {
        font-size: 1.0938vw;
        line-height: 1.8750vw;
    }
    @include mobile {
        font-size: 3.1250vw;
        line-height: 4.4271vw;
    }
}

@mixin DefaultText_Single_100 {
    font-size: 14px;
    line-height: 24px;

    @include tablet {
        font-size: 0.9375vw;
        line-height: 1.7188vw;
    }
    @include mobile {
        font-size: 2.8646vw;
        line-height: 4.1667vw;
    }
}
