.registerContent {
    width: 460px;
    padding: 35px;
    margin: 0 auto;

    &.swView{
        .inputItem{
            margin-bottom: 30px;
            flex-direction: column;

            &.checkItem{
                flex-direction: row;
                .checkbox{
                    display:flex;
                    gap:10px;
                    align-items: center;
                    justify-content: center;
                    label{
                        margin-bottom: 0;
                    }
                }
            }

            label{
                width: 100%;
                display: block;
                text-align: left;
                margin-bottom: 10px;
                @include DefaultText_Single_300;
            }
            input[type="checkbox"]{
                width:25px;
                height: 25px;
            }
            img{
                max-width: 100%;
            }
        }

        @include tablet{
            .inputItem{
                margin-bottom: 1.9531vw;
    
                &.checkItem{
                    .checkbox{
                        gap:0.7813vw;
                    }
                }
    
                label{
                    margin-bottom: 0.7813vw;
                }
                input[type="checkbox"]{
                    width:1.9531vw;
                    height: 1.9531vw;
                }
            }
        }

        @include mobile{
            .inputItem{
                margin-bottom: 3.9063vw;
    
                &.checkItem{
                    .checkbox{
                        gap:1.9531vw;
                    }
                }
    
                label{
                    margin-bottom: 1.9531vw;
                }
                input[type="checkbox"]{
                    width:3.9063vw;
                    height: 3.9063vw;
                }
            }
        }

    }

    &.register {
        width: 600px;

        @include tablet {
            width: 46.8750vw;
        }

        @include mobile {
            width: 100%;
        }
    }

    @include tablet {
        width: 46.8750vw;
        padding: 2.7344vw;
    }

    @include mobile {
        width: 100%;
        padding: 5.2083vw 0;
        @include DefaultText_Single_400;
    }

    h3 {
        margin-bottom: 10px;
        text-align: center;
        @include HeadLine_03;

        @include tablet {
            margin-bottom: 0.6250vw;
        }

        @include mobile {
            margin-bottom: 2.6042vw;
        }
    }

    p {
        margin-bottom: 30px;
        text-align: center;
        @include DefaultText_Single_400;

        @include tablet {
            margin-bottom: 1.9531vw;
        }

        @include mobile {
            margin-bottom: 4.5573vw;
        }
    }

    .inputItem {
        margin-bottom: 15px;

        & {
            @include flex_SpaceBet_Center;
        }

        .mail_span {
            display: inline-block;
            padding: 0 10px;
        }

        @include tablet {
            margin-bottom: 0.6250vw;
        }

        @include mobile {
            margin-bottom: 1.9531vw;
        }

        input {
            width: 100%;
            height: 54px;
            padding: 0 15px;
            border: 1px solid rgba(255, 255, 255, .5);
            color: #fff;
            @include DefaultText_Single_300;

            &:hover,
            &:focus {
                border-color: #fff;
            }

            &::placeholder {
                color: #fff;
            }

            @include tablet {
                height: 3.4375vw;
                padding: 0 0.7813vw;
            }

            @include mobile {
                height: 9.6354vw;
                padding: 0 2.6042vw;
                @include DefaultText_Single_200;
            }
        }

        textarea {
            width: 100%;
            height: 400px;
            padding: 0 15px;
            border: 1px solid rgba(255, 255, 255, .5);
            color: #fff;
            @include DefaultText_Single_300;

            &:hover,
            &:focus {
                border-color: #fff;
            }

            &::placeholder {
                color: #fff;
            }

            @include tablet {
                height: 28.1250vw;
                padding: 0 0.7813vw;
            }

            @include mobile {
                height: 35.9375vw;
                padding: 0 2.6042vw;
                @include DefaultText_Single_200;
            }
        }
    }

    .register_list {
        margin-bottom: 30px;

        & {
            @include flex_SpaceBet_Center;
        }
        
        @include tablet {
            margin-bottom: 1.9531vw;
        }

        @include mobile {
            margin-bottom: 5.2083vw;
        }

        a {
            @include DefaultText_Single_300;

            @include mobile {
                @include DefaultText_Single_200;
            }
        }
    }

    
}
